<div class="container">
    <!-- main form -->
    <form [formGroup]="userForm" (ngSubmit)="OnFormSubmit()">
        <!-- outer parent card -->
        <!-- <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title> User Form</mat-card-title>
            </mat-card-header>
            <mat-card-content class="parentcard">
                <mat-card style="margin: 1rem;" appearance="outlined">
                    <mat-card-header>
                        <mat-card-subtitle>Personal Details</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content formGroupName="personal_details" class="cardcontent">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput required placeholder="Enter First Name" formControlName="user_first_name">
                            <mat-icon matSuffix>face</mat-icon>
                            <mat-hint>User First Name</mat-hint>
                            @if (userForm.get("user_first_name")?.hasError("required") || userForm.touched) {
                            <mat-error>User First Name Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput required placeholder="Enter Last Name" formControlName="user_last_name">
                            <mat-icon matSuffix>face</mat-icon>
                            <mat-hint>User Last Name</mat-hint>
                            @if (userForm.get("user_last_name")?.hasError("required") || userForm.touched) {
                            <mat-error>User Last Name Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select required placeholder="select gender" formControlName="user_gender">
                                @for (gender of genders; track gender) {
                                <mat-option [value]="gender.value">{{gender.viewValue}}</mat-option>
                                }
                            </mat-select>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-hint>User gender</mat-hint>
                            @if (userForm.get("user_gender")?.hasError("required") || userForm.touched) {
                            <mat-error>User gender Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput required placeholder="choose date" formControlName="user_dob"
                                [matDatepicker]="picker" disable>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUIi #picker></mat-datepicker>
                            @if(userForm.get("user_dob")?.hasError("required") || userForm.touched) {
                            <mat-error>Date of Birth Required!</mat-error>
                            }
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <mat-card style="margin: 1rem;" appearance="outlined">
                    <mat-card-header>
                        <mat-card-subtitle>Contact details</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content formGroupName="contact_details" class="cardcontent">
                        <mat-form-field appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput required placeholder="Enter Email Address"
                                formControlName="user_email_address">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-hint>User Email Address</mat-hint>
                            @if (userForm.get("user_email_address")?.hasError("required") || userForm.touched) {
                            <mat-error>User Email Required!</mat-error>
                            } @if(userForm.get("user_email_address")?.hasError("email")) {
                            <mat-error>User Email not Valid!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput required placeholder="Enter Phone Number" formControlName="user_phone">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-hint>User Last Name</mat-hint>
                            @if (userForm.get("user_last_name")?.hasError("required") || userForm.touched) {
                            <mat-error>User phone Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Home Address</mat-label>
                            <textarea matInput placeholder="Home Address ..." formControlName="user_address"></textarea>

                            <mat-icon matSuffix>home</mat-icon>
                            <mat-hint>User Home Address</mat-hint>
                            @if (userForm.get("user_address")?.hasError("required") || userForm.touched) {
                            <mat-error>User Home Address Required!</mat-error>
                            }
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title> (Optional) </mat-panel-title>
                        <mat-panel-description> Could provided later </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card style="margin: 1rem;" appearance="outlined">
                        <mat-card-header>
                            <mat-card-subtitle>Optional info </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="cardcontent">
                            <section>
                                <h4>Select all that apply: <p><mat-checkbox formControlName="user_option1">Option
                                            1</mat-checkbox><mat-checkbox formControlName="user_option2">Option
                                            2</mat-checkbox><mat-checkbox formControlName="user_option3">Option
                                            3</mat-checkbox></p>
                                </h4>
                            </section>

                            <section class="example-section" [formGroup]="userForm">
                                <h4>You chose:</h4>
                                Option 1 : {{ userForm.get("user_option1")?.value }} :
                                Option 2 : {{ userForm.get("user_option2")?.value }} :
                                Option 3 : {{ userForm.get("user_option3")?.value }}
                            </section>

                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Single</mat-radio-button>
                                <mat-radio-button value="2">Singled</mat-radio-button>
                            </mat-radio-group>
                        </mat-card-content>
                    </mat-card>
                </mat-expansion-panel>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="userForm.invalid" matButton="filled" matTooltip="Submit Details"
                    type="submit">Submit</button>
            </mat-card-actions>
        </mat-card> -->
        <!-- dialog code -->
        <!-- <h2 mat-dialog-title>User Form</h2> -->
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title> User Form</mat-card-title>
            </mat-card-header>
            <mat-dialog-content class="mat-typography">
                <mat-card style="margin: 1rem;" appearance="outlined">
                    <mat-card-header>
                        <mat-card-subtitle>Personal Details</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content formGroupName="personal_details" class="cardcontent">
                        <mat-form-field appearance="outline">
                            <mat-label >First Name</mat-label>
                            <input matInput placeholder="Enter First Name" formControlName="user_first_name">
                            <mat-icon  matSuffix>face</mat-icon>
                            <mat-hint >User First Name</mat-hint>
                            @if (userForm.get("user_first_name")?.hasError("required") || userForm.touched) {
                            <mat-error>User First Name Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput required placeholder="Enter Last Name" formControlName="user_last_name">
                            <mat-icon matSuffix>face</mat-icon>
                            <mat-hint>User Last Name</mat-hint>
                            @if (userForm.get("user_last_name")?.hasError("required") || userForm.touched) {
                            <mat-error>User Last Name Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select required placeholder="select gender" formControlName="user_gender">
                                @for (gender of genders; track gender) {
                                <mat-option [value]="gender.value">{{gender.viewValue}}</mat-option>
                                }
                            </mat-select>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-hint>User gender</mat-hint>
                            @if (userForm.get("user_gender")?.hasError("required") || userForm.touched) {
                            <mat-error>User gender Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput required placeholder="choose date" formControlName="user_dob"
                                [matDatepicker]="picker" disable>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUIi #picker></mat-datepicker>
                            @if(userForm.get("user_dob")?.hasError("required") || userForm.touched) {
                            <mat-error>Date of Birth Required!</mat-error>
                            }
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <!-- inner child card for contact details -->
                <mat-card style="margin: 1rem;" appearance="outlined">
                    <mat-card-header>
                        <mat-card-subtitle>Contact details</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content formGroupName="contact_details" class="cardcontent">
                        <mat-form-field appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput required placeholder="Enter Email Address"
                                formControlName="user_email_address">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-hint>User Email Address</mat-hint>
                            @if (userForm.get("user_email_address")?.hasError("required") || userForm.touched) {
                            <mat-error>User Email Required!</mat-error>
                            } @if(userForm.get("user_email_address")?.hasError("email")) {
                            <mat-error>User Email not Valid!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput required placeholder="Enter Phone Number" formControlName="user_phone">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-hint>User Last Name</mat-hint>
                            @if (userForm.get("user_last_name")?.hasError("required") || userForm.touched) {
                            <mat-error>User phone Required!</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Home Address</mat-label>
                            <textarea matInput placeholder="Home Address ..." formControlName="user_address"></textarea>

                            <mat-icon matSuffix>home</mat-icon>
                            <mat-hint>User Home Address</mat-hint>
                            @if (userForm.get("user_address")?.hasError("required") || userForm.touched) {
                            <mat-error>User Home Address Required!</mat-error>
                            }
                        </mat-form-field>

                    </mat-card-content>
                </mat-card>
            </mat-dialog-content>
        </mat-card>
        <mat-dialog-actions MatDialogActions.align="end">
            @if(dataService.getLocalUserRole()?.toString() === 'superadmin'){
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select required placeholder="select Role" formControlName="user_role">
                    @for (role of roles; track role) {
                    <mat-option [value]="role.value">{{role.viewValue}}</mat-option>
                    }
                </mat-select>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-hint>User Role</mat-hint>
                @if (userForm.get("user_role")?.hasError("required") || userForm.touched) {
                <mat-error>User gender Required!</mat-error>
                }
            </mat-form-field>
            }
            <button matButton mat-dialog-close>Cancel</button>
            @if(userEditingData){
            <button [disabled]="userForm.invalid" matButton="filled" matTooltip="Update User"
                type="submit">Update</button>
            } @else {
            <button [disabled]="userForm.invalid" matButton="filled" matTooltip="Submit Details"
                type="submit">Submit</button>
            }
            <!-- <button [disabled]="userForm.invalid" matButton="filled" matTooltip="Submit Details"
                type="submit">Submit</button> -->
        </mat-dialog-actions>

    </form>
</div>