.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
  color: var(--mat-sys-primary);
}

// .toolbar p {
//   font-size: medium;
// }

.active {
  background-color: var(--mat-sys-secondary-container);
  // --mat-sys-primary-container
  // background-color: var(--mat-sys-primary-container);
}

.avatar-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border: none;
  margin: 0.5rem;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

mat-sidenav{
  width: 200px;
}

@media (width <= 700px) {
  .toolbar p {
    font-size: small;
  }

  .avatar-image{
    height: 2rem;
    width: 2rem;
  }
  
}