// mat-toolbar {
//   background-color: var(--mat-sys-primary-container) !important;
//   backdrop-filter: blur(12px);
//   background-color: color-mix(in srgb, var(--mat-sys-primary-container) 20%, transparent);
//   border-bottom: 1px solid rgba(255, 255, 255, 0.08);
// }

mat-toolbar,
mat-toolbar .mat-toolbar-row {
  background-color: color-mix(in srgb, var(--mat-sys-primary-container) 70%, transparent) !important;
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}


.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
  color: var(--mat-sys-primary);
}

// .toolbar p {
//   font-size: medium;
// }

.active {
  background-color: var(--mat-sys-secondary-container);
  // --mat-sys-primary-container
  // background-color: var(--mat-sys-primary-container);
}

.avatar-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
  border: none;
  margin: 0.5rem;
  border-radius: 50px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

mat-sidenav{
  width: 200px;
}

@media (width <= 700px) {
  .toolbar p {
    font-size: small;
  }

  .avatar-image{
    height: 2rem;
    width: 2rem;
  }
  
}