.mat-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    backdrop-filter: blur(0.4rem);
    background-color: rgba(0, 0, 0, 0.233);
}

h1{
    color: var(--mat-sys-primary);
}

.mat-dialog-container {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}