.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin: 1rem;
}

.avatar-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 5rem;
  width: 5rem;
  border-radius: 50rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.profileeditbtn {
  // background-color: var(--mat-sys-surface);
  background-color: transparent;
  
  height: 32px;
  width: 32px;
  // padding-right: 10px;
  // padding-top: 5px;
  // border: none;

  // margin: 20px;
  // padding-top: 4px;
  // border-radius: 50px;
}

.namecontainer {
  // justify-content: center;
  // align-items: center;
  // padding: 5px;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  margin-left: 1rem;
}

mat-card-title {
  color: var(--mat-sys-primary);
}

@media (width <=1000px) {

  // .namecontainer{
  //   padding: 0;
  // }
  mat-card-header {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
}

// mat-card-header{
//       display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

mat-card {
  margin: 0.5rem;
  // height: 25rem;
}

.cardcontenthead {
  flex-direction: row;
  display: flex;
  width: 95%;
  justify-content: space-between;
  // padding: 2px;
  margin-top: 5px;
  margin-left: 18px;
  margin-right: 18px;
  border-bottom: white 1px solid;
}

.cardcontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}

.cardcontent p {
  // margin: 4px;
  // margin-right: 20px;
  width: 200px;
}

// mat-card-title{
//   margin: 5px;
// }

// mat-card-subtitle{
//   margin: 5px;
// }