@import "tailwindcss";

@source not inline("{hover:,}bg-red-{50,{100..900..100},950}");

@theme {
    /* --color-*: initial; */
    --font-script: "Great Vibes", cursive;
    --color-midnight: #00bcff;

    --aspect-retro: 4 / 3; 

      --color-lagoon: oklch(0.72 0.11 221.19);
  --color-coral: oklch(0.74 0.17 40.24);
  --color-driftwood: oklch(0.79 0.06 74.59);
  --color-tide: oklch(0.49 0.08 205.88);
  --color-dusk: oklch(0.82 0.15 72.09);
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}